@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: persian;
    src: url(../../fonts/IRANYekanWebFn.eot);
    src: url(../../fonts/IRANYekanWebFn.ttf);
    src: url(../../fonts/IRANYekanWebFn.woff);
    src: url(../../fonts/IRANYekanWebFn.woff2);
  }
}
